<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">首页</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/study-notes.html">学习</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/problems-reflection.html">问题</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/dots-in-life.html">生活</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/ideas-and-projects.html">Incubation</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">关于/作者</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">联系</a>
</li>
<!-- <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li> -->
