<form method="POST" action="https://api.staticman.net/v1/entry/heisaman/heisaman.github.io/master">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">

  <div class="form-group has-success has-feedback">
	  <label class="control-label" for="username">名字:</label>
	  <input name="fields[name]" type="text" class="form-control" id="username">
	  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  <label class="control-label" for="email">邮箱:</label>
	  <input name="fields[email]" id="email" type="email" class="form-control">
	  <label class="control-label" for="content">评论:</label>
	  <textarea name="fields[message]" id="content" class="form-control"></textarea>

  	<button type="submit">发表</button>
  </div>
</form>